.autocomplete > ul {
    margin: 0;
    background-color: #fff;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-shadow: none;
}

@supports (transform: scale(0)) {
    .autocomplete > ul {
        transition: .3s cubic-bezier(.4, .2, .5, 1.4);
        transform-origin: 1.43em -.43em;
    }

    .autocomplete > ul[hidden],
    .autocomplete > ul:empty {
        opacity: 0;
        display: block;
        transition: left 0.5s;
        -webkit-transform: scale(0);
        transform: scale(0);
        transition-property: -webkit-transform, transform, visibility, opacity;
        transition-duration: 200ms;
        transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
    }
}

.autocomplete > ul > li {
    display: flex;
    position: relative;
    padding: .7em .5em;
    padding-left: 30px;
    cursor: pointer;
}

.autocomplete > ul > li .locality-text {
    color: #333;
}

.autocomplete > ul > li:hover {
    background: #eee;
}

.autocomplete > ul > li[aria-selected="true"] {
    background: #eee;
}

.autocomplete mark {
    font-weight: bold;
    color: inherit;
    background: none;
}

.autocomplete > ul > li .locality-text .secondary-text {
    color: #999;
    font-size: 0.95em;
}

.autocomplete > ul > li .locality-icon {
    content: "";
    left: 7px;
    height: 18px;
    width: 14px;
    text-align: right;
    display: inline-block;
    background-position: bottom;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='20'%3E%3Cpath d='M7 0a6.995 6.995 0 0 0-7 7c0 5.25 7 13 7 13s7-7.75 7-13a6.995 6.995 0 0 0-7-7zM4.5 6.999a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0z' fill='%23b2b2b2'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

.autocomplete > ul > li:hover .locality-icon {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='20'%3E%3Cpath d='M7 0a6.995 6.995 0 0 0-7 7c0 5.25 7 13 7 13s7-7.75 7-13a6.995 6.995 0 0 0-7-7zM4.5 6.999a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0z' fill='%2303A9F4'/%3E%3C/svg%3E");
}

.autocomplete.google > ul > li:hover .locality-icon {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='20'%3E%3Cpath d='M7 0a6.995 6.995 0 0 0-7 7c0 5.25 7 13 7 13s7-7.75 7-13a6.995 6.995 0 0 0-7-7zM4.5 6.999a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0z' fill='%23ea4335'/%3E%3C/svg%3E");
}

.autocomplete > ul > li.train_station .locality-icon, .autocomplete > ul > li.metro_station .locality-icon {
    background-image: url("data:image/svg+xml,%3Csvg height='19' viewBox='0 0 16 19' width='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m8 0c-4 0-8 .5-8 4v9.5c0 1.93 1.57 3.5 3.5 3.5l-1.5 1.5v.5h2.23l2-2h3.77l2 2h2v-.5l-1.5-1.5c1.93 0 3.5-1.57 3.5-3.5v-9.5c0-3.5-3.58-4-8-4zm-4.5 15c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm3.5-7h-5v-4h5zm2 0v-4h5v4zm3.5 7c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5z' fill='%23b2b2b2' /%3E%3C/svg%3E");
}

.autocomplete > ul > li.train_station:hover .locality-icon, .autocomplete > ul > li.metro_station:hover .locality-icon {
    background-image: url("data:image/svg+xml,%3Csvg height='19' viewBox='0 0 16 19' width='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m8 0c-4 0-8 .5-8 4v9.5c0 1.93 1.57 3.5 3.5 3.5l-1.5 1.5v.5h2.23l2-2h3.77l2 2h2v-.5l-1.5-1.5c1.93 0 3.5-1.57 3.5-3.5v-9.5c0-3.5-3.58-4-8-4zm-4.5 15c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm3.5-7h-5v-4h5zm2 0v-4h5v4zm3.5 7c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5z' fill='%2303A9F4' /%3E%3C/svg%3E");
}

.autocomplete > ul > li.google.train_station:hover .locality-icon, .autocomplete > ul > li.google.metro_station:hover .locality-icon {
    background-image: url("data:image/svg+xml,%3Csvg height='19' viewBox='0 0 16 19' width='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m8 0c-4 0-8 .5-8 4v9.5c0 1.93 1.57 3.5 3.5 3.5l-1.5 1.5v.5h2.23l2-2h3.77l2 2h2v-.5l-1.5-1.5c1.93 0 3.5-1.57 3.5-3.5v-9.5c0-3.5-3.58-4-8-4zm-4.5 15c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm3.5-7h-5v-4h5zm2 0v-4h5v4zm3.5 7c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5z' fill='%23ea4335' /%3E%3C/svg%3E");
}

.autocomplete > ul > li.airport .locality-icon {
    background-image: url("data:image/svg+xml,%3Csvg height='18' viewBox='0 0 17 18' width='17' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m19 14v-2l-8-5v-5.5c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v5.5l-8 5v2l8-2.5v5.5l-2 1.5v1.5l3.5-1 3.5 1v-1.5l-2-1.5v-5.5z' transform='matrix(.70710678 .70710678 -.70710678 .70710678 9.853553 -5.788582)' fill='%23b2b2b2' /%3E%3C/svg%3E");
}

.autocomplete > ul > li.airport:hover .locality-icon {
    background-image: url("data:image/svg+xml,%3Csvg height='18' viewBox='0 0 17 18' width='17' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m19 14v-2l-8-5v-5.5c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v5.5l-8 5v2l8-2.5v5.5l-2 1.5v1.5l3.5-1 3.5 1v-1.5l-2-1.5v-5.5z' transform='matrix(.70710678 .70710678 -.70710678 .70710678 9.853553 -5.788582)' fill='%2303A9F4' /%3E%3C/svg%3E");
}

.autocomplete > ul > li.google.airport:hover .locality-icon {
    background-image: url("data:image/svg+xml,%3Csvg height='18' viewBox='0 0 17 18' width='17' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m19 14v-2l-8-5v-5.5c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v5.5l-8 5v2l8-2.5v5.5l-2 1.5v1.5l3.5-1 3.5 1v-1.5l-2-1.5v-5.5z' transform='matrix(.70710678 .70710678 -.70710678 .70710678 9.853553 -5.788582)' fill='%23ea4335' /%3E%3C/svg%3E");
}


.autocomplete > ul > li.shopping .locality-icon {
    background-image: url("data:image/svg+xml,%3Csvg height='20' viewBox='0 0 20 20' width='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m6 16c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2zm-6-16v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2h-11.58c-.14 0-.25-.11-.25-.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.58-6.49c.1678385-.31045161.1601677-.68626698-.0201992-.98961129-.1803669-.3033443-.5068853-.48957461-.8598008-.49038871h-14.79l-.94-2zm16 16c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z' fill='%23b2b2b2' /%3E%3C/svg%3E");
}

.autocomplete > ul > li.shopping:hover .locality-icon {
    background-image: url("data:image/svg+xml,%3Csvg height='20' viewBox='0 0 20 20' width='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m6 16c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2zm-6-16v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2h-11.58c-.14 0-.25-.11-.25-.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.58-6.49c.1678385-.31045161.1601677-.68626698-.0201992-.98961129-.1803669-.3033443-.5068853-.48957461-.8598008-.49038871h-14.79l-.94-2zm16 16c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z' fill='%2303A9F4' /%3E%3C/svg%3E");
}

.autocomplete > ul > li.google.store .locality-icon {
    background-image: url("data:image/svg+xml,%3Csvg height='20' viewBox='0 0 20 20' width='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m6 16c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2zm-6-16v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2h-11.58c-.14 0-.25-.11-.25-.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.58-6.49c.1678385-.31045161.1601677-.68626698-.0201992-.98961129-.1803669-.3033443-.5068853-.48957461-.8598008-.49038871h-14.79l-.94-2zm16 16c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z' fill='%23b2b2b2' /%3E%3C/svg%3E");
}

.autocomplete > ul > li.google.store:hover .locality-icon {
    background-image: url("data:image/svg+xml,%3Csvg height='20' viewBox='0 0 20 20' width='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m6 16c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2zm-6-16v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2h-11.58c-.14 0-.25-.11-.25-.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.58-6.49c.1678385-.31045161.1601677-.68626698-.0201992-.98961129-.1803669-.3033443-.5068853-.48957461-.8598008-.49038871h-14.79l-.94-2zm16 16c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z' fill='%23ea4335' /%3E%3C/svg%3E");
}

.autocomplete.google > ul::after {
    content: "";
    padding: 1px 1px 1px 0;
    height: 18px;
    box-sizing: border-box;
    text-align: right;
    display: block;
    background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white3_hdpi.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 120px 14px
}